.up-button {
	width: 41px;
	height: 25px;
	position: fixed;
	bottom: 1px;
	right: 1px;
	display: none;
	cursor: pointer;
}

.up-button img {
	width: 60px;
	position: fixed;
	bottom: 1px;
	right: 1px;
	display: block;
}

.up-button img:hover {
	margin-bottom: 10px;
}